.call--modal {
  display: none;
  opacity: 0.9;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.call--modal__content {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call--modal__content > p {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
}

.call--modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.call--modal--tel {
  color: white;
  font-size: 20px;
}
.call--modal--tel:hover {
  text-decoration: underline;
}

.call--modal__form > p {
  color: #fff;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
.call--modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call--modal__form--input {
  background-color: #000;
  color: white;
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 0 0 22px 0;
  min-height: 40px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
}
.call--btn__send {
  color: #fff;
  background-color: #d9534f;
  border: 2px solid #d43f3a;
  padding: 5px 10px;
  border-radius: 3px;
}
.call--btn__send:hover {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
