.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.swiper--gallery__slider {
  height: 100vh;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  width: 25px;
  height: 25px;
  @media (max-width: 565px) {
    top: 80%;
  }
}
.swiper-button-next-classes,
.swiper-button-prev-classes {
  top: var(--swiper-navigation-top-offset, 50%);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  font-weight: 900;
}
.swiper-slide__image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}