.about-company {
  width: 100%;
  background: url(..//images/50_5_IMG_4753.png) no-repeat center;
  text-align: center;
  color: white;
  z-index: 3;
  position: relative;
}
.about-company::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.about__wrapper {
  padding-top: 67px;
  padding-bottom: 43px;
}
.about__wrapper > h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}
.about__wrapper > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}
.about__wrapper > hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.about-link {
  color: red;
  text-decoration: underline;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: disc;
}
.about__list > li {
  list-style: inside;
}

.about__list > li::marker {
  display: flex;
}
