.graph {
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
.graph__wrapper {
  padding-top: 33px;
  padding-bottom: 33px;
}
.graph__wrapper > h2 {
  font-family: 'Oswald';
  font-size: 35px;
  line-height: 44px;
  font-weight: 400;
  color: black;
  @media (max-width: 1000px) {
    text-align: center;
  }
}

.graph__times > svg {
  opacity: 0.4;
  @media (max-width: 1000px) {
    display: none;
  }
}
.graph__times {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    justify-content: center;
  }
}

.graph__wrapper > hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.graph__list {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
}
.graph__item {
  color: #a1a1a1;
  display: inline-block;
  border-right: 1px solid #eee;
  font: 400 14px Oswald;
  padding: 0 10px;
  // max-width: 108px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0px;
  @media (max-width: 767px) {
    border: 0;
  }
}
.graph__item > b {
  font-weight: 600;
  font-family: 'Oswald';
  font-size: 25px;
  color: #000000;
}
.graph__item__border {
  border: 0;
}
